.price.available{
    font-size: 40px;
    color: var(--price-available);
}

.price.sold{
    margin-top: 10px;
    font-size: 2rem;
    color: var(--price-sold);
}

.content {
    display: grid;
    margin: 0 auto;
    margin-top: 120px;
    width: clamp(20%, 1000px, 90%);
}
.reference {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 3px solid var(--dark);
    justify-content: center;
    margin-bottom: 60px;
}
.reference:hover{
    border: 3px solid var(--primary);
    cursor: pointer;
}
.arrow{
    display: none;
}
.desc-aside{
    display: none;
}
.img{
    width: 100%;
    height: auto;
}
.desc{
    display: block;
    grid-column: 2 / 4;
}

@media (max-width: 766px) {
    .arrow{
        display: block;
        grid-row: 1;
        height: 3vw;
        width: 3vw;
        border-style: solid;
        border-color: var(--dark);
        border-width: 0px 1px 1px 0px;
        transform: rotate(45deg);
        transition: .3s ease-in-out;
        margin-top: 0px;
    }
    .arrow.is-active{
        transform: rotate(-135deg);
        margin-top: 2vw;
    }
    .reference::before{
        text-align: center;
        grid-column: 1 / 4;
        grid-row: 1;
        font-weight: bold;
    }
    .reference::after{
        text-align: left;
        grid-column: 1 / 4;
        font-size: 40px;
    }
    .reference.available::before{
        content: 'Lorem Ipsum';
    }
    .reference.available::after{
        content: 'xx€';
        color: var(--price-available);
        font-size: 2rem;
    }

    .reference.sold::before{
        content: 'Lorem Ipsum';
    }
    .reference.sold::after{
        content: 'verkauft';
        color: var(--price-sold);
        font-size: 1rem;
    }

    .desc-aside.is-active{
        grid-column: 1/5;
        display: block;
    }
    .img{
        grid-column: 1 / 5;
    }
    .desc{
        display: none;
    }
}
