/*.price.available {
  color: var(--price-available);
}

.price.sold {
  color: var(--price-sold);
}*/

.content {
  display: grid;
  margin: 0 auto;
  margin-top: 120px;
  width: clamp(20%, 1920px, 90%) !important;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
  font-weight: bolder;
  font-size: clamp(4px, 28px, 4.5vw);
}

/*.reference {
  padding: 15px;
  display: block;
  border: 3px solid var(--dark);
  justify-content: center;
  margin-bottom: 60px;
  width: 100%;
}
.picture-name {
  text-align: center;
  font-size: clamp(4px, 28px, 5vw);
}
.img-wrapper {
  position: relative;
}
.img-wrapper-child {
  position: relative;
}
.img-wrapper-child.sold::after {
  display: block;
  position: absolute;
  content: "";
  background-color: #ff0000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
}
.img {
  width: 100%;
  height: auto;
}
.img.sold::after {
  display: block;
  content: "test";
}
.data {
  display: flex;
  justify-content: space-between;
}
.data div::before {
  font-weight: bolder;
}
.data div {
  margin: 20px;
}
.material::before {
  content: "Material: ";
}
.size::before {
  content: "Größe: ";
}
.price::before {
  color: var(--dark);
  content: "Preis: ";
}
.date::before {
  content: "Datum: ";
}*/

.gallery{
  display: flex;
  padding: 2px;
}
.gallery-column{
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 2px 2px;
}
.image-nfsp{
  display: block;
	width: 100%;
  transition: .3s;
}

.image-nfsp:hover {
  transform: scale(1.02);
}

.image-to-lb {
  cursor: zoom-in;
  text-decoration: none;
  color: var(--dark);
  font-size: clamp(1em, 1em, 50em);
  transition: .3s;
}

.image-to-lb:hover > p{
  transition: .1s;
  opacity: .5;
}

@media (max-width: 766px) {
  .data {
    display: block;
  }
}
