.content {
    display: grid;
    margin: 0 auto;
    margin-top: 120px;
    width: clamp(100px, 50%, 1200px);
    margin-bottom: 47vh;
}

.img {
    width: 256px;
    height: auto;
    float: left;
    padding: 8px;
}

.desc {
    text-align: justify;
}