.content{
    display: grid;
    margin: 0 auto;
    margin-top: 120px;
    width: clamp(100px, 50%, 1200px);
    margin-bottom: 30px !important;
}

.img{
    display: flex;
    width: 256px;
    height: auto;
    padding: 8px;
    margin: 0 auto
}
.desc{
    text-align: justify;
    padding: 8px;
    border: 2px solid var(--dark);
    border-radius: 8px;
}